

@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');



.jumbotron {
	background-color: green; 
	color: white;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#pageTitle {
	font-family: $font-title;
	font-size: 100px;
}

#question {
	font-family: $font-mood;
}

.btn-danger {
	background-color: $pink;
	border: 1px solid $black;
}

#angry {
	background-color: red;
	&:hover{background-color: $redHover;}
}	

#angry, #anxious, #happy, #romantic, #sad, #help, .embed-responsive {
	border: 1px solid $black;
}


.embed-responsive {
	border: 1px solid gray;
}

.embed-responsive-img {
	border: gray;
	width: 100%;
	height: 247px;
}

.imgcontainer {	
		width: 100%;
		height: 315px;
	 	background-color: gray;
	  	display: flex;
	  	justify-content: center;
	  	align-items: center;
		// text-align: center;
		margin-bottom: 5px;
}


h2 {
	text-align: center;
	font-family: 'Bungee Shade', cursive;
	margin-top: 2px;
	
}


#angle-gradient-svg, {
background: rgba(255,15,175,1);
background: -moz-linear-gradient(45deg, rgba(255,15,175,1) 0%, rgba(0,179,83,0.99) 29%, rgba(0,224,150,0.99) 51%, rgba(226,230,0,0.99) 71%, rgba(230,107,0,0.98) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,15,175,1)), color-stop(29%, rgba(0,179,83,0.99)), color-stop(51%, rgba(0,224,150,0.99)), color-stop(71%, rgba(226,230,0,0.99)), color-stop(100%, rgba(230,107,0,0.98)));
background: -webkit-linear-gradient(45deg, rgba(255,15,175,1) 0%, rgba(0,179,83,0.99) 29%, rgba(0,224,150,0.99) 51%, rgba(226,230,0,0.99) 71%, rgba(230,107,0,0.98) 100%);
background: -o-linear-gradient(45deg, rgba(255,15,175,1) 0%, rgba(0,179,83,0.99) 29%, rgba(0,224,150,0.99) 51%, rgba(226,230,0,0.99) 71%, rgba(230,107,0,0.98) 100%);
background: -ms-linear-gradient(45deg, rgba(255,15,175,1) 0%, rgba(0,179,83,0.99) 29%, rgba(0,224,150,0.99) 51%, rgba(226,230,0,0.99) 71%, rgba(230,107,0,0.98) 100%);
background: linear-gradient(45deg, rgba(255,15,175,1) 0%, rgba(0,179,83,0.99) 29%, rgba(0,224,150,0.99) 51%, rgba(226,230,0,0.99) 71%, rgba(230,107,0,0.98) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0faf', endColorstr='#e66b00', GradientType=1 );
}


// sass --watch assets/scss:assets/css